{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Secret Base of You and Mine{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div><label for="number">Grab some random messages.</label>
      <input name="number"> 
      <br><br>
      <input type="submit" value="View messages">
    </div>
  </form>
  {% for r in g.result %}
    <br>
    <font size=4>{{r[0]}}</font>
    <br>
    -<i><font size=3>{{r[1]}}</font></i>
    <br>
  {% endfor %}
{% endblock %}


